CRM-DSN-OC-V8.31.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--Schéma XSD du CRM (compte-rendu du traitement OC d'une DSN mensuelle ou signalement fin de contrat) V8.31-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="Fichier">
		<xs:annotation>
			<xs:documentation>Données descriptives du fichier reçu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="1">
				<xs:element name="Declaration">
					<xs:annotation>
						<xs:documentation>Données descriptives d'une déclaration DSN</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="1">
							<xs:element name="Diagnostic" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Données de diagnostic du traitement de la déclaration et des anomalies rencontrées</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="CodeRetourDetail" use="required">
										<xs:annotation>
											<xs:documentation>000 = DSN entièrement acceptée
010 = Entreprise inconnue de l'organisme récepteur
019 = Autre anomalie concernant l'entreprise ou l'établissement déclaré
020 = Anomalie concernant les données salarié(s) déclarées
030 = Contrat(s) inconnu(s)
031 = Autre(s) anomalie(s) sur les références contrat déclarées
040 = Code(s) option déclaré(s)  absent(s) ou déclaré(s) mais inconnu(s)
049 = Autre(s) anomalie(s) sur code(s) option
050 = Code(s)  population déclaré(s)  absent(s) ou déclaré(s) mais  ou inconnu(s)
059 = Autre(s) anomalie(s) sur code(s)  population
060 = Code délégataire de gestion incorrect
061 = Code organisme de Prévoyance incorrect
100 = Evènement(s)  déjà déclaré(s)
101 = Evènement(s)  rejeté(s), voir descriptif associé
109 = Autre(s) anomalie(s) concernant le ou les événements reçus  
800 = Anomalie grave de structure ou de contenu
801 = Déclaration en double ou "annule et remplace" inexploitable
999 = Détail fourni aux niveaux 3 et 4</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="000"/>
												<xs:enumeration value="010"/>
												<xs:enumeration value="019"/>
												<xs:enumeration value="020"/>
												<xs:enumeration value="030"/>
												<xs:enumeration value="031"/>
												<xs:enumeration value="040"/>
												<xs:enumeration value="049"/>
												<xs:enumeration value="050"/>
												<xs:enumeration value="059"/>
												<xs:enumeration value="060"/>
												<xs:enumeration value="061"/>
												<xs:enumeration value="100"/>
												<xs:enumeration value="101"/>
												<xs:enumeration value="109"/>
												<xs:enumeration value="800"/>
												<xs:enumeration value="801"/>
												<xs:enumeration value="999"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ComplementRetourDetail">
										<xs:annotation>
											<xs:documentation>Complément explicatif libre du code retour détail</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="3"/>
												<xs:maxLength value="250"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Salarie" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Données relatives à un salarié</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence minOccurs="1" maxOccurs="1">
										<xs:element name="Evt" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Données relatiives à un événement détecté (explicite ou implicite.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="CodeEvt" use="required">
													<xs:annotation>
														<xs:documentation>Code événement
01 = affiliation
02 = changement d'option
04 = changement de population
10 = radiation
11 = entrée en maintien de garanties (ANI)
81 = changement de données administratives du salarié (adresse ...)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="01"/>
															<xs:enumeration value="02"/>
															<xs:enumeration value="04"/>
															<xs:enumeration value="10"/>
															<xs:enumeration value="11"/>
															<xs:enumeration value="81"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="DateEvt" use="required">
													<xs:annotation>
														<xs:documentation>Date événement prise en compte (explicite ou implicite)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="8"/>
															<xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])(19|20)\d\d"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="SrcEvt" use="required">
													<xs:annotation>
														<xs:documentation>Source de l'événement :
01 = fin de contrat en S21.G00.62 dans un signalement
02 = fin de contrat en S21.G00.62 dans une mensuelle
03 = changement salarié S21.G00.31 dans une mensuelle
04 = changement contrat S21.G00.41 dans une mensuelle
05 = début de contrat de travail détecté dans une mensuelle
06 = changement d'option détecté dans une mensuelle, via S21.G00.70.004
07 = changement de population détecté dans une mensuelle, via S21.G00.70.005
08 = changement de population détecté dans une mensuelle, via S21.G00.40</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="01"/>
															<xs:enumeration value="02"/>
															<xs:enumeration value="03"/>
															<xs:enumeration value="04"/>
															<xs:enumeration value="05"/>
															<xs:enumeration value="06"/>
															<xs:enumeration value="07"/>
															<xs:enumeration value="08"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="CodeRetourEvt" use="required">
													<xs:annotation>
														<xs:documentation>Code retour pour l'événement et le salarié concernés
00 = événement pris en compte
01 = événement ignoré - déjà déclaré
10 = événement rejeté suite à rejet sur le salarié (voir code retour salarié-contrat)
20 = événement rejeté - changement d'option incohérent
30 = événement rejeté - changement de population incohérent
99 = événement rejeté - autre cas</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="00"/>
															<xs:enumeration value="01"/>
															<xs:enumeration value="10"/>
															<xs:enumeration value="20"/>
															<xs:enumeration value="30"/>
															<xs:enumeration value="99"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ComplementRetourEvt" use="optional">
													<xs:annotation>
														<xs:documentation>Complément explicatif au code retour événement / salarié - obligatoire si code retour différent de 00</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="3" fixed="false"/>
															<xs:maxLength value="250" fixed="false"/>
															<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="NirSal" use="optional">
										<xs:annotation>
											<xs:documentation>NIR du salarié - S21.G00.30.001
A compter de la phase 2, s'il n'y a pas de NIR pour le salarié, alors le NTT doit être renseigné</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="13"/>
												<xs:pattern value="[1-2][0-9]{2}(0[1-9]|1[0-2]|20|3[0-9]|4[0-2]|[5-9][0-9])(0[1-9]|[1-9][0-9]|2A|2B)([0]{2}[1-9]|0[1-9][0-9]|[1-9][0-9]{2})([0]{2}[1-9]|0[1-9][0-9]|[1-9][0-9]{2})|([1-2][9]{12})"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="NTTSal" use="optional">
										<xs:annotation>
											<xs:documentation>Uniquement à compter de la phase 2 
NTT salarié - S21.G00.30.020</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="11"/>
												<xs:maxLength value="40"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="NomSal" use="required">
										<xs:annotation>
											<xs:documentation>Nom du salarié - S21.G00.30.002</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="80"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="PrenomSal" use="required">
										<xs:annotation>
											<xs:documentation>Prénom du salarié - S21.G00.30.004</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="80"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="NomUsageSal">
										<xs:annotation>
											<xs:documentation>Nom d'usage du salarié - S21.G00.30.003</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="80"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="MatriculeSal" use="optional">
										<xs:annotation>
											<xs:documentation>Matricule du salarié - S21.G00.80.003
(remplacé par S21.G00.30.019 en DSN phase 2)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="RefContrat">
										<xs:annotation>
											<xs:documentation>Référence du contrat déclarée - S21.G00.70.001</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="RefContratAtt">
										<xs:annotation>
											<xs:documentation>Référence du contrat attendue (donnée éventuellement retournée par le producteur du CRM pour correction)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="RefContratAj">
										<xs:annotation>
											<xs:documentation>Référence du contrat ajoutée (donnée éventuellement retournée par le producteur du CRM dans le cas d'un contrat manquant)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="CodeOption" use="optional">
										<xs:annotation>
											<xs:documentation>Code option déclaré - S21.G00.70.004</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="CodeOptionAtt" use="optional">
										<xs:annotation>
											<xs:documentation>Code option attendu (donnée éventuellement retournée par le producteur du CRM pour correction)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="CodeOptionAj" use="optional">
										<xs:annotation>
											<xs:documentation>Code option ajouté (donnée éventuellement retournée par le producteur du CRM dans le cas d'un contrat manquant)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="CodePopulation" use="optional">
										<xs:annotation>
											<xs:documentation>Code population déclaré - S21.G00.70.005</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="CodePopulationAtt" use="optional">
										<xs:annotation>
											<xs:documentation>Code population attendu (donnée éventuellement retournée par le producteur du CRM pour correction)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="CodePopulationAj" use="optional">
										<xs:annotation>
											<xs:documentation>Code population ajouté (donnée éventuellement retournée par le producteur du CRM dans le cas d'un contrat manquant)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="CodeRetourSal" use="required">
										<xs:annotation>
											<xs:documentation>Code retour de niveau salarié-contrat
00 = OK
10 = contrat inconnu
11 = contrat invalide pour ce salarié
19 = autre anomalie relative au contrat
20 = code option absent mais requis pour ce salarié et/ou contrat
21 = code option invalide pour ce contrat
22 = code option invalide pour ce salarié
23 = code option invalide pour ce code population
29 = autre anomalie relative au code option
30 = code population absent mais requis pour ce salarié et/ou contrat
31 = code population invalide pour ce contrat
32 = code population invalide pour ce salarié
39 = autre anomalie relative au code population
99 = autres cas d'erreur liés au salarié-contrat</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="00"/>
												<xs:enumeration value="10"/>
												<xs:enumeration value="11"/>
												<xs:enumeration value="19"/>
												<xs:enumeration value="20"/>
												<xs:enumeration value="21"/>
												<xs:enumeration value="22"/>
												<xs:enumeration value="23"/>
												<xs:enumeration value="29"/>
												<xs:enumeration value="30"/>
												<xs:enumeration value="31"/>
												<xs:enumeration value="32"/>
												<xs:enumeration value="39"/>
												<xs:enumeration value="99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ComplementRetourSal" use="optional">
										<xs:annotation>
											<xs:documentation>Complément explicatif au code retour salarié-contrat - obligatoire si code retour différent de 00</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="3"/>
												<xs:maxLength value="250"/>
												<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="CoderetourEvts" use="optional">
										<xs:annotation>
											<xs:documentation>Code retour global événements - Obligatoire si le niveau 4 est présent
0 = événement(s) pris en compte sans anomalie
1 = aucun événement pour ce salarié-contrat
2 = rejet partiel (possible seulement si plusieurs événements)
3 = rejet global (aucun événement accepté)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="0"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="IdDec" use="required">
							<xs:annotation>
								<xs:documentation>Identifiant (numéro d'ordre) de la déclaration dans le fichier déposé - S20.G55.96.902</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="999999"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NatureDecla" use="required">
							<xs:annotation>
								<xs:documentation>Nature de la déclaration - S20.G00.05.001</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="01"/>
									<xs:enumeration value="02"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="TypeDecla" use="required">
							<xs:annotation>
								<xs:documentation>Type de la déclaration S20.G00.05.002</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="01"/>
									<xs:enumeration value="02"/>
									<xs:enumeration value="03"/>
									<xs:enumeration value="04"/>
									<xs:enumeration value="05"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="FractionDecla" use="required">
							<xs:annotation>
								<xs:documentation>Numéro de fraction de la déclaration - S20.G00.05.003</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="11"/>
									<xs:enumeration value="12"/>
									<xs:enumeration value="22"/>
									<xs:enumeration value="13"/>
									<xs:enumeration value="23"/>
									<xs:enumeration value="33"/>
									<xs:enumeration value="14"/>
									<xs:enumeration value="24"/>
									<xs:enumeration value="34"/>
									<xs:enumeration value="44"/>
									<xs:enumeration value="15"/>
									<xs:enumeration value="25"/>
									<xs:enumeration value="35"/>
									<xs:enumeration value="45"/>
									<xs:enumeration value="55"/>
									<xs:enumeration value="16"/>
									<xs:enumeration value="26"/>
									<xs:enumeration value="36"/>
									<xs:enumeration value="46"/>
									<xs:enumeration value="56"/>
									<xs:enumeration value="66"/>
									<xs:enumeration value="17"/>
									<xs:enumeration value="27"/>
									<xs:enumeration value="37"/>
									<xs:enumeration value="47"/>
									<xs:enumeration value="57"/>
									<xs:enumeration value="67"/>
									<xs:enumeration value="77"/>
									<xs:enumeration value="18"/>
									<xs:enumeration value="28"/>
									<xs:enumeration value="38"/>
									<xs:enumeration value="48"/>
									<xs:enumeration value="58"/>
									<xs:enumeration value="68"/>
									<xs:enumeration value="78"/>
									<xs:enumeration value="88"/>
									<xs:enumeration value="19"/>
									<xs:enumeration value="29"/>
									<xs:enumeration value="39"/>
									<xs:enumeration value="49"/>
									<xs:enumeration value="59"/>
									<xs:enumeration value="69"/>
									<xs:enumeration value="79"/>
									<xs:enumeration value="89"/>
									<xs:enumeration value="99"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NoOrdreDecla" use="required">
							<xs:annotation>
								<xs:documentation>Numéro d'ordre de la déclaration - S20.G00.05.004</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="15"/>
									<xs:pattern value="0|[1-9][0-9]*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="IdDecAR" use="optional">
							<xs:annotation>
								<xs:documentation>Identifiant de la déclaration initiale annulée ou remplacée  - S20.G00.05.006</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="9"/>
									<xs:maxLength value="51"/>
									<xs:pattern value="[0-9]*[1-9][0-9]*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="DateMoisDec">
							<xs:annotation>
								<xs:documentation>Date du mois principal déclaré au format JJMMAAAA - S20.G00.05.005</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="8"/>
									<xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])(20)\d\d"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="DateConstitution">
							<xs:annotation>
								<xs:documentation>Date de constitution du fichier - S20.G00.05.007</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="8"/>
									<xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])(20)\d\d"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="IdEvt">
							<xs:annotation>
								<xs:documentation>Identifiant de l'événement - S20.G00.05.009 appelé Identifiant métier à compter de la phase 2</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="15"/>
									<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ChampDec">
							<xs:annotation>
								<xs:documentation>Champ de la déclaration -  S20.G00.05.008</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="01"/>
									<xs:enumeration value="02"/>
									<xs:enumeration value="03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="SirenDecla" use="required">
							<xs:annotation>
								<xs:documentation>SIREN de l'entreprise - S21.G00.06.001</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="9"/>
									<xs:pattern value="[0-9]*[1-9][0-9]*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NicSiegeDecla" use="optional">
							<xs:annotation>
								<xs:documentation>NIC établissement siège - S21.G00.06.002</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="5"/>
									<xs:pattern value="[0-9]*[1-9][0-9]*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NicAffectation" use="required">
							<xs:annotation>
								<xs:documentation>NIC établissement d'affectation - S21.G00.11.001</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="5"/>
									<xs:pattern value="[0-9]*[1-9][0-9]*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="CodeOC" use="required">
							<xs:annotation>
								<xs:documentation>Code organisme - S21.G00.70.002
(ou bien S21.G00.15.002 à compter de la DSN phase 2)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="5"/>
									<xs:maxLength value="9"/>
									<xs:pattern value="[P][0-9]{4}"/>
									<xs:pattern value="[A][0-9A-Z]{5}"/>
									<xs:pattern value="[0-9]{9}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="CodeDELEG" use="optional">
							<xs:annotation>
								<xs:documentation>Code délégataire de gestion - S21.G00.70.003
(ou bien S21.G00.15.003 à compter de la DSN phase 2)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="6"/>
									<xs:pattern value="[D][0-9A-Z]{5}"/>
									<xs:pattern value="[G][0-9A-Z]{5}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="CodeProducteurCRM" use="required">
							<xs:annotation>
								<xs:documentation>Code organisme ou délégataire producteur du CRM</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="5"/>
									<xs:maxLength value="9"/>
									<xs:pattern value="[P][0-9]{4}"/>
									<xs:pattern value="[A][0-9A-Z]{5}"/>
									<xs:pattern value="[0-9]{9}"/>
									<xs:pattern value="[G][0-9A-Z]{5}"/>
									<xs:pattern value="[D][0-9A-Z]{5}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NomProducteurCRM" use="required">
							<xs:annotation>
								<xs:documentation>Raison sociale du producteur du CRM</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="3"/>
									<xs:maxLength value="60"/>
									<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="DateHeureProductionCRM" use="required">
							<xs:annotation>
								<xs:documentation>Date heure de production du CRM au format AAAAMMJJHHMMSS</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="14"/>
									<xs:pattern value="(20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])([0-1]\d|2[0-3])[0-5]\d[0-5]\d"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NbreSal">
							<xs:annotation>
								<xs:documentation>Nombre de salariés (S21.G00.30) présents dans la déclaration</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="999999"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NbreEvtFCT">
							<xs:annotation>
								<xs:documentation>Nombre total d'événements fin de contrat de travail (nombre de blocs S21.G00.62)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="999999"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NbreEvtEntree">
							<xs:annotation>
								<xs:documentation>Nombre total d'événements entrée (nombre de rubriques S21.G00.31.007)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="999999"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NbreEvtDCT">
							<xs:annotation>
								<xs:documentation>Nombre total d'événements début de contrat de travail (date de début de contrat S21.G00.40.001 sur le mois de la déclaration)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="999999"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NbreEvtOK">
							<xs:annotation>
								<xs:documentation>Nombre d'événements pris en compte (obligatoire si détai(s)l événements présent(s) dans le compte-rendu)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="999999"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NbreEvtKO">
							<xs:annotation>
								<xs:documentation>Nombre d'événements rejetés (obligatoire si détail(s) événements(s) présent(s) dans le compte-rendu)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="999999"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NomContact" use="optional">
							<xs:annotation>
								<xs:documentation>Nom du service ou du gestionnaire en charge du dossier</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="3"/>
									<xs:maxLength value="60"/>
									<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="TelContact" use="optional">
							<xs:annotation>
								<xs:documentation>Téléphone du service ou du gestionnnaire en charge du dossier</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
									<xs:pattern value="[0-9]*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="MailContact" use="optional">
							<xs:annotation>
								<xs:documentation>Adresse mail du service ou du gestionnaire en charge du dossier</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="3"/>
									<xs:maxLength value="60"/>
									<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
									<xs:pattern value="\w+([\.\-_]\w+)*@(\w+[\.\-_])+[a-zA-Z]{2,4}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="CodeRetourDecla" use="optional">
							<xs:annotation>
								<xs:documentation>Code retour global de niveau déclaration (peut-être absent seulement dans le cas d'un CRM de type 1, simple AR sans valeur ajoutée)
0 = DSN acceptée
1 = DSN acceptée, avec corrections à apporter
2 = rejet partiel de la DSN (applicable seulement aux déclarations mensuelles)
3 = rejet global</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="IdEnvoi" use="required">
				<xs:annotation>
					<xs:documentation>Identifiant de flux DSN - S10.G00.95.900</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TypCRM" use="required">
				<xs:annotation>
					<xs:documentation>Type de CRM :
1 (simple AR)
2 (CRT basique)
3 (CRT intérmédiaire)
4 (CRT complet)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ModeDepot" use="optional">
				<xs:annotation>
					<xs:documentation>Mode de dépôt  (upload ou Upload ou MtoM ou mtom)  - S10.G00.95.006</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="6"/>
						<xs:enumeration value="Upload"/>
						<xs:enumeration value="UPLOAD"/>
						<xs:enumeration value="upload"/>
						<xs:enumeration value="MtoM"/>
						<xs:enumeration value="mtom"/>
						<xs:enumeration value="MToM"/>
						<xs:enumeration value="MTOM"/>
						<xs:enumeration value="Mtom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SiteDeposant" use="optional">
				<xs:annotation>
					<xs:documentation>SIRET déposant dans le cas du MtoM - S10.G00.95.007</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="14"/>
						<xs:pattern value="[0-9]*[1-9][0-9]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PointDepot" use="required">
				<xs:annotation>
					<xs:documentation>Identification du point de dépôt - S10.G00.00.007</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TailleFichier" type="xs:int" use="optional">
				<xs:annotation>
					<xs:documentation>Taille du fichier en Ko</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateHeureReceptionDep" use="required">
				<xs:annotation>
					<xs:documentation>Date heure de réception du fichier sur le point de dépôt au format AAAAMMJJHHMMSS - S10.G50.01.007</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="14"/>
						<xs:pattern value="(20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])([0-1]\d|2[0-3])[0-5]\d[0-5]\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SiretEmetteur" use="required">
				<xs:annotation>
					<xs:documentation>SIRET de l'émetteur du fichier - S10.G00.01.001/002</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="14"/>
						<xs:pattern value="[0-9]*[1-9][0-9]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NomEmetteur" use="required">
				<xs:annotation>
					<xs:documentation>Nom ou raison sociale de l'émetteur du fichier - S10.G00.01.003 </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="60"/>
						<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SiretDeposant">
				<xs:annotation>
					<xs:documentation>SIRET du déclarant inscrit - S10.G00.95.003</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="14"/>
						<xs:pattern value="[0-9]*[1-9][0-9]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NomDeposant">
				<xs:annotation>
					<xs:documentation>Nom du déclarant inscrit - S10.G00.95.001</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="65"/>
						<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PrenomDeposant">
				<xs:annotation>
					<xs:documentation>Prénom  du déclarant inscrit - S10.G00.95.002</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
						<xs:pattern value="[&#x20;&#x22;&#x26;-&#x3A;&#x3D;&#x40;-&#x5A;&#x5F;-&#x7A;&#xAB;&#xB0;&#xBB;&#xC0;-&#xC5;&#xC7;-&#xCF;&#xD1;-&#xD6;&#xD9;-&#xDD;&#xE0;-&#xE5;&#xE7;-&#xEF;&#xF1;-&#xF6;&#xF9;-&#xFD;&#xFF;]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TypeEnvoi" use="required">
				<xs:annotation>
					<xs:documentation>Type de l'envoi - S10.G00.00.008</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
						<xs:enumeration value="03"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="VersionNorme" use="required">
				<xs:annotation>
					<xs:documentation>Version de la norme (PHASE1V1 ou P02V00 ou P02V01) - S10.G00.00.006 
PHASE1V1 pour une DSN  phase1 lot 3bis, P02V00 pour une DSN phase 1 lot 3bis convertie en DSN phase 2, P02V01 pour une DSN phase 2.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PHASE1V1"/>
						<xs:enumeration value="P02V00"/>
						<xs:enumeration value="P02V01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CodeEnvoi" use="required">
				<xs:annotation>
					<xs:documentation>Code de l'envoi (test/réel) - S10.G00.00.005</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateHeureReceptionOC">
				<xs:annotation>
					<xs:documentation>Date heure de réception par l'organisme au format AAAAMMJJHHMMSS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="14"/>
						<xs:pattern value="(20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])([0-1]\d|2[0-3])[0-5]\d[0-5]\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateHeureReceptionDELEG" use="optional">
				<xs:annotation>
					<xs:documentation>Date heure de réception éventuelle par le délégataire de gestion au format AAAMMJJHHMMSS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="14"/>
						<xs:pattern value="(20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])([0-1]\d|2[0-3])[0-5]\d[0-5]\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NbreDeclaration">
				<xs:annotation>
					<xs:documentation>Nbre de déclarations dans le fichier - S90.G01.00.002</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
