dsn_norm_v01r01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gipmds="http://www.gip-mds.fr/" targetNamespace="http://www.gip-mds.fr/" elementFormDefault="unqualified">
	<element name="RO">
		<complexType>
			<complexContent>
				<extension base="gipmds:RO_type">
					<attribute name="version" type="string" use="optional" default="v01r01"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="RO_type">
		<sequence>
			<element name="RO_B000" type="gipmds:RO_B000_type"/>
			<element name="RO_B001" type="gipmds:RO_B001_type"/>
		</sequence>
	</complexType>
	<!-- FLUX DSN -->
	<complexType name="RO_B000_type">
		<sequence>
			<element name="RO_B000_R001" type="string">
				<annotation>
					<documentation>S10.G00.95.900 - Identification du flux par le point de dépôt</documentation>
				</annotation>
			</element>
			<element name="RO_B000_R002">
			  <simpleType>
			  	<annotation>
					<documentation>S20.G00.96.902 - Rang de la declaration dans le fichier</documentation>
				</annotation>
				<restriction base="integer">
				  <pattern value="\d{1,6}"/>
				</restriction>
			  </simpleType>
			</element>
			<element name="RO_B000_R003" type="gipmds:SIRET_type">
				<annotation>
					<documentation>SIRET de l'emetteur, S10.G00.01.001, S10.G00.01.002</documentation>
				</annotation>
			</element>
			<element name="RO_B000_R004" type="gipmds:SIRET_type" minOccurs="0">
				<annotation>
					<documentation>SIRET du déclaré, S21.G00.06.001, S21.G00.11.001</documentation>
				</annotation>
			</element>	
			<element name="RO_B000_R005" minOccurs="0">
			  <simpleType>
			  	<annotation>
					<documentation>S20.G00.05.003 - Numéro de fraction de déclaration</documentation>
				</annotation>
				<restriction base="integer">
				  <pattern value="\d{2}"/>
				</restriction>
			  </simpleType>
			</element>	
            <element name="RO_B000_R006" type="date" minOccurs="0">
				<annotation>
					<documentation>S20.G00.05.005 - Date du mois principal déclaré associé à la date de la DSN ciblée</documentation>
				</annotation>
			</element>			
			<element name="RO_B000_R007" type="gipmds:RO_B000_R007_enum" minOccurs="0"/>			
			<element name="RO_B000_R008" type="string" minOccurs="0">
				<annotation>
					<documentation>S10.G00.00.001 - Nom du logiciel utilisé</documentation>
				</annotation>
			</element>		
			<element name="RO_B000_R009" type="string" minOccurs="0">
				<annotation>
					<documentation>S10.G00.00.002 - Nom de l'éditeur</documentation>
				</annotation>
			</element>			
			<element name="RO_B000_R010" type="string" minOccurs="0">
				<annotation>
					<documentation>S10.G00.00.003 - Numéro de version du logiciel utilisé</documentation>
				</annotation>
			</element>			
			<element name="RO_B000_R011" type="gipmds:RO_B000_R011_enum" minOccurs="0"/>
			<element name="RO_B000_R012" type="decimal" minOccurs="0">
				<annotation>
					<documentation>S20.G00.05.004 - Numéro d'ordre de la déclaration</documentation>
				</annotation>
			</element>	
			<element name="RO_B000_R013" type="gipmds:RO_B000_R013_enum" minOccurs="0"/>
			<element name="RO_B000_R014" type="string" minOccurs="0">
				<annotation>
					<documentation>S10.G00.00.006 - Numéro de version de la norme utilisée</documentation>
				</annotation>
			</element>	
		</sequence>
	</complexType>
	<!-- PROFIL RETOUR ORGANISME -->	
	<complexType name="RO_B001_type">
		<sequence>
			<element name="RO_B001_R001" type="gipmds:RO_B001_R001_enum"/>														
			<element name="RO_B002" type="gipmds:RO_B002_type"/>
		</sequence>
	</complexType>
	<!-- CONTEXTE -->
	<complexType name="RO_B002_type">
		<sequence>
			<element name="RO_B002_R001" type="string">
			  	<annotation>
					<documentation>Identifiant unique du retour organisme attribué par le producteur</documentation>
				</annotation>
			</element>
			<element name="RO_B002_R002">
			  <simpleType>
			  	<annotation>
					<documentation>Code identifiant le type de retour, cf guide de l'API DSN</documentation>
				</annotation>
				<restriction base="integer">
				  <pattern value="\d{1,3}"/>
				</restriction>
			  </simpleType>
			</element>
			<element name="RO_B002_R003" type="string">
				<annotation>
					<documentation>Libellé correspondant à la nature du retour organisme</documentation>
				</annotation>
			</element>
			<element name="RO_B002_R004" type="gipmds:RO_B002_R004_enum"/>
			<element name="RO_B002_R005" type="string">
			  	<annotation>
					<documentation>Nom de l'organisme émetteur</documentation>
				</annotation>
			</element>
			<element name="RO_B002_R006" type="gipmds:SIRET_type">
			  	<annotation>
					<documentation>SIRET de l'organisme émetteur</documentation>
				</annotation>
			</element>
			<element name="RO_B002_R007" type="gipmds:SIRET_type">
				<annotation>
					<documentation>SIRET de l'organisme producteur</documentation>
				</annotation>
			</element>
			<element name="RO_B002_R008" type="date">
				<annotation>
					<documentation>Date de début du premier mois principal déclaré associé au déclencheur du retour de l'organisme</documentation>
				</annotation>
			</element>		
			<element name="RO_B002_R009" type="date" minOccurs="0">
				<annotation>
					<documentation>Date de fin du dernier mois principal déclaré associé au déclencheur du retour de l'organisme</documentation>
				</annotation>
			</element>
			<element name="RO_B002_R010" type="dateTime"/>	
			<element name="RO_B002_R011" type="dateTime">
			  	<annotation>
					<documentation>Date à laquelle le retour organisme est établi par le producteur</documentation>
				</annotation>
			</element>
			<element name="RO_B003" type="gipmds:RO_B003_type" minOccurs="0"/>
			<element name="RO_B004_liste" type="gipmds:RO_B004_liste_type" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- VALIDATION METIER DSN -->	
	<complexType name="RO_B003_type">
		<sequence>		
			<element name="RO_B003_R001" type="string">
				<annotation>
					<documentation>Le type de métier correspond aux besoins que doivent couvrir les données reçues par l'émetteur du retour. C'est de ce point de vue qu'il juge de la qualité des données du déclarant</documentation>
				</annotation>
			</element>			
			<element name="RO_B003_R002" type="gipmds:RO_B003_R002_enum"/>			
		</sequence>
	</complexType>
	<!-- LISTE ACTIONS -->
	<complexType name="RO_B004_liste_type">
		<sequence>
			<element name="RO_B004" type="gipmds:RO_B004_type" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- ACTION -->	
	<complexType name="RO_B004_type">
		<sequence>	
			<element name="RO_B004_R001" type="string">
				<annotation>
					<documentation>Code identifiant le traitement réalisé par l'émetteur du retour</documentation>
				</annotation>
			</element>				
			<element name="RO_B004_R002" type="string" minOccurs="0">
				<annotation>
					<documentation>Libellé court du traitement réalisé par l'émetteur du retour</documentation>
				</annotation>
			</element>	
			<element name="RO_B004_R003" type="gipmds:RO_B004_R003_enum"/>		
			<element name="RO_B004_R004" type="gipmds:RO_B004_R004_enum"/>					
			<element name="RO_B004_R005" type="gipmds:RO_B004_R005_enum"/>											
			<element name="RO_B004_R006" type="gipmds:RO_B004_R006_enum" minOccurs="0"/>			
			<element name="RO_B004_R007" type="gipmds:RO_B004_R007_enum" minOccurs="0"/>
			<element name="RO_B004_R008" type="gipmds:RO_B004_R008_enum" minOccurs="0"/>			
			<element name="RO_B004_R009" type="integer" minOccurs="0">
				<annotation>
					<documentation>Nombre des individus concernés par l'erreur parmi les individus connus par l'émetteur du retour sur la période</documentation>
				</annotation>
			</element>			
			<element name="RO_B004_R010" type="integer" minOccurs="0">
				<annotation>
					<documentation>Nombre des contrats concernés par l'erreur parmi les contrats connus par l'émetteur du retour sur la période</documentation>
				</annotation>
			</element>
			<element name="RO_B004_R011" type="string" minOccurs="0">
				<annotation>
					<documentation>Permet à l'émetteur d'intégrer au retour un texte libre sur le contrôle réalisé</documentation>
				</annotation>
			</element>			
			<element name="RO_B004_R012" type="string" minOccurs="0">
				<annotation>
					<documentation>Permet de compléter l'exposé du contrôle avec l'ensemble des références des textes en appui</documentation>
				</annotation>
			</element>			
			<element name="RO_B004_R013" type="string" minOccurs="0">
				<annotation>
					<documentation>Permet à l'émetteur d'intégrer au retour un texte libre sur l'action à réaliser</documentation>
				</annotation>
			</element>
			<element name="RO_B004_R014" type="string" minOccurs="0">
				<annotation>
					<documentation>Permet de compléter l'action attendue avec ressources externes</documentation>
				</annotation>
			</element>
			<element name="RO_B004_R015" type="string" minOccurs="0">
				<annotation>
					<documentation>Permet d'expliquer les conséquences en cas d'absence de mise à jour de la paie</documentation>
				</annotation>
			</element>
			<element name="RO_B005_liste" type="gipmds:RO_B005_liste_type" minOccurs="0"/>
			<element name="RO_B008_liste" type="gipmds:RO_B008_liste_type" minOccurs="0"/>
			<element name="RO_B009_liste" type="gipmds:RO_B009_liste_type" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- LISTE DETAIL ACTION -->	
	<complexType name="RO_B005_liste_type">
		<sequence>
			<element name="RO_B005" type="gipmds:RO_B005_type" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- DETAIL ACTION -->	
	<complexType name="RO_B005_type">
		<sequence>
			<element name="RO_B005_R001" type="string" minOccurs="0"/>
			<element name="RO_B005_R002" type="date" minOccurs="0">
				<annotation>
					<documentation>Date de début de la période associée à l'atypie</documentation>
				</annotation>
			</element>
			<element name="RO_B005_R003" type="date" minOccurs="0">
				<annotation>
					<documentation>Date de fin de la période associée à l'atypie</documentation>
				</annotation>
			</element>
			<element name="RO_B006_liste" type="gipmds:RO_B006_liste_type" minOccurs="0"/>
			<element name="RO_B007_liste" type="gipmds:RO_B007_liste_type" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- LISTE IDENTIFIANT OBJET ACTION -->	
	<complexType name="RO_B006_liste_type">
		<sequence>
			<element name="RO_B006" type="gipmds:RO_B006_type" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- IDENTIFIANT OBJET ACTION -->	
	<complexType name="RO_B006_type">
		<sequence>
            <choice maxOccurs="1">
                <element name="RO_B006_R001" type="string"/>
				<element name="RO_B006_R002" type="string"/>
			</choice>
			<element name="RO_B006_R003" type="string"/>
			<element name="RO_B006_R004" type="string"/>
			<element name="RO_B006_R005" type="string"/>
			<element name="RO_B006_R006" type="date" minOccurs="0"/>
			<element name="RO_B006_R007" type="string" minOccurs="0"/>
			<element name="RO_B006_R008" type="date" minOccurs="0"/>
		</sequence>
	</complexType>	
	<!-- LISTE DONNEES DSN ACTIONS -->	
	<complexType name="RO_B007_liste_type">
		<sequence>
			<element name="RO_B007" type="gipmds:RO_B007_type" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- DONNEES DSN ACTIONS -->	
	<complexType name="RO_B007_type">
		<sequence>		
			<element name="RO_B007_R001" type="string">
				<annotation>
					<documentation>Le code est l'identifiant de la rubrique NEODeS participant à identifier l'objet de l'action</documentation>
				</annotation>
			</element>			
			<element name="RO_B007_R002" type="string" minOccurs="0">
				<annotation>
					<documentation>La valeur déclarée par le déclarant au niveau de la rubrique</documentation>
				</annotation>
			</element>
			<element name="RO_B007_R003" type="string" minOccurs="0">
				<annotation>
					<documentation>La valeur corrigée ou préconisée par l'émetteur du retour pour correction</documentation>
				</annotation>
			</element>
			<element name="RO_B007_R004" type="gipmds:RO_B007_R004_enum" minOccurs="0"/>
			<element name="RO_B007_R005" type="date" minOccurs="0">
				<annotation>
					<documentation>Date de début de la période associée à l'atypie</documentation>
				</annotation>
			</element>
			<element name="RO_B007_R006" type="date" minOccurs="0">
				<annotation>
					<documentation>Date de fin de la période associée à l'atypie</documentation>
				</annotation>
			</element>
			<element name="RO_B007_R007" type="date" minOccurs="0">
				<annotation>
					<documentation>Date de début à partir de laquelle l'application du paramètre métier est attendue en paie</documentation>
				</annotation>
			</element>
			<element name="RO_B007_R008" type="date" minOccurs="0">
				<annotation>
					<documentation>Date de fin à partir de laquelle l'application du paramètre métier est attendue en paie</documentation>
				</annotation>
			</element>
			<element name="RO_B007_R009" type="gipmds:RO_B007_R009_enum" minOccurs="0"/>
            <element name="RO_B010" type="gipmds:RO_B010" minOccurs="0"/>		
		</sequence>
	</complexType>
	<!-- LISTE VALEURS ACCEPTEES -->	
	<complexType name="RO_B010">
		<sequence>
            <element name="RO_B010_R001" type="string" maxOccurs="unbounded">
				<annotation>
					<documentation>La valeur acceptée par l'émetteur du retour pour correction</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- LISTE PARAMETRE A PRENDRE EN COMPTE EN PAIE -->	
	<complexType name="RO_B008_liste_type">
		<sequence>
			<element name="RO_B008" type="gipmds:RO_B008_type" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- PARAMETRE A PRENDRE EN COMPTE EN PAIE -->	
	<complexType name="RO_B008_type">
		<sequence>		
			<element name="RO_B008_R001" type="string">
				<annotation>
					<documentation>Le type de donnée correspond à la catégorie d'information que l'émetteur souhaite communiquer au déclarant dans le cadre du calcul d'un paramètre métier</documentation>
				</annotation>
			</element>			
			<element name="RO_B008_R002" type="string">
				<annotation>
					<documentation>La valeur associée au type de donnée désigné</documentation>
				</annotation>
			</element>			
			<element name="RO_B008_R003" type="date" minOccurs="0">
				<annotation>
					<documentation>Date de début à partir de laquelle l'application du paramètre métier est attendue en paie</documentation>
				</annotation>
			</element>			
			<element name="RO_B008_R004" type="date" minOccurs="0">
				<annotation>
					<documentation>Date de fin à partir de laquelle l'application du paramètre métier est attendue en paie</documentation>
				</annotation>
			</element>
			<element name="RO_B008_R005" type="string" minOccurs="0">
				<annotation>
					<documentation>Le code est l'identifiant de la rubrique NEODeS concernée</documentation>
				</annotation>
			</element>			
		</sequence>
	</complexType>
	<!-- LISTE DONNEES INDIVIDU ECART -->	
	<complexType name="RO_B009_liste_type">
		<sequence>
			<element name="RO_B009" type="gipmds:RO_B009_type" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- DONNEES INDIVIDU ECART -->	
	<complexType name="RO_B009_type">
		<annotation>
			<documentation>L'individu déclaré dans la DSN vs l'individu de référence reconnu au SNGI</documentation>
		</annotation>
		<sequence>			
			<choice maxOccurs="1">
				<element name="RO_B009_R001" type="string"/>
				<element name="RO_B009_R002" type="string"/>
			</choice>
			<element name="RO_B009_R003" type="string" minOccurs="0"/>
			<element name="RO_B009_R004" type="string"/>
			<element name="RO_B009_R005" type="string" minOccurs="0"/>
			<element name="RO_B009_R006" type="string"/>
			<element name="RO_B009_R007" type="string" minOccurs="0"/>
			<element name="RO_B009_R008" type="date" minOccurs="0"/>
			<element name="RO_B009_R009" type="date" minOccurs="0"/>
			<element name="RO_B009_R010" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
		
	<simpleType name="SIRET_type">
		<restriction base="integer">
		  <pattern value="\d{14}"/>
		</restriction>
	</simpleType>
	
	<!-- ENUM -->
	<simpleType name="RO_B000_R007_enum">
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Net-entreprises</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>MSA</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="RO_B000_R011_enum">
		<annotation>
			<documentation>S20.G00.05.002 - Type de la déclaration</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Déclaration normale</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>Déclaration normale sans individu</documentation>
				</annotation>
			</enumeration>
			<enumeration value="03">
				<annotation>
					<documentation>Déclaration annule et remplace intégral</documentation>
				</annotation>
			</enumeration>
			<enumeration value="05">
				<annotation>
					<documentation>Annule et remplace sans individu</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="RO_B000_R013_enum">
		<annotation>
			<documentation>S10.G00.00.005 - Code envoi du fichier d'essai ou réel</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Envoi fichier test</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>Envoi fichier réel</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
		
	<simpleType name="RO_B001_R001_enum">
		<annotation>
			<documentation>Type de déclencheur à l'origine du retour de l'organisme</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Retour organisme sur une DSN mensuelle</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>Retour organisme en fin d’exercice</documentation>
				</annotation>
			</enumeration>
			<enumeration value="03">
				<annotation>
					<documentation>Retour organisme pour rappel d’actions non réalisées</documentation>
				</annotation>
			</enumeration>
			<enumeration value="04">
				<annotation>
					<documentation>Retour organisme pour signaler un paramètre utile en paie</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="RO_B002_R004_enum">
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Retour organisme normal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>Retour organisme annule et remplace</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="RO_B003_R002_enum">
		<restriction base="string">
			<enumeration value="OK">
				<annotation>
					<documentation>Données DSN permettant d'assurer les traitements métiers</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KO">
				<annotation>
					<documentation>Ecarts ne permettant pas de réaliser l'intégralité des traitements métiers</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="RO_B004_R003_enum">
		<annotation>
			<documentation>Type d'action attendue de la part du déclarant</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Correction de données DSN précédemment déclarées</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>Correction de données d'identification d'individus</documentation>
				</annotation>
			</enumeration>
			<enumeration value="03">
				<annotation>
					<documentation>Emission de l'ensemble des données attendues par l'organisme pour un mois principal déclaré</documentation>
				</annotation>
			</enumeration>
			<enumeration value="04">
				<annotation>
					<documentation>Prise en compte d'un paramètre métier</documentation>
				</annotation>
			</enumeration>
			<enumeration value="05">
				<annotation>
					<documentation>Régularisation d'un paramètre</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
			
	<simpleType name="RO_B004_R004_enum">
		<annotation>
			<documentation>Type de niveau auquel l'action est attendue</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Entreprise</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>Etablissement</documentation>
				</annotation>
			</enumeration>
			<enumeration value="03">
				<annotation>
					<documentation>Section d'établissement</documentation>
				</annotation>
			</enumeration>
			<enumeration value="04">
				<annotation>
					<documentation>Individu</documentation>
				</annotation>
			</enumeration>
			<enumeration value="05">
				<annotation>
					<documentation>Contrat</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
				
	<simpleType name="RO_B004_R005_enum">
		<annotation>
			<documentation>Type de catégorie d'objet de la paie concerné par l'action</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Entreprise</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>Etablissement</documentation>
				</annotation>
			</enumeration>
			<enumeration value="03">
				<annotation>
					<documentation>Coordonnées bancaires</documentation>
				</annotation>
			</enumeration>
			<enumeration value="04">
				<annotation>
					<documentation>Versement organisme</documentation>
				</annotation>
			</enumeration>
			<enumeration value="05">
				<annotation>
					<documentation>Individu</documentation>
				</annotation>
			</enumeration>
			<enumeration value="06">
				<annotation>
					<documentation>Contrat</documentation>
				</annotation>
			</enumeration>
			<enumeration value="07">
				<annotation>
					<documentation>Dates de la vie du contrat</documentation>
				</annotation>
			</enumeration>
			<enumeration value="08">
				<annotation>
					<documentation>Rémunérations</documentation>
				</annotation>
			</enumeration>
			<enumeration value="09">
				<annotation>
					<documentation>Primes, gratifications et indemnités</documentation>
				</annotation>
			</enumeration>
			<enumeration value="10">
				<annotation>
					<documentation>Autre élément de revenu brut</documentation>
				</annotation>
			</enumeration>
			<enumeration value="11">
				<annotation>
					<documentation>Versement</documentation>
				</annotation>
			</enumeration>
			<enumeration value="12">
				<annotation>
					<documentation>Cotisations, contributions et bases assujetties</documentation>
				</annotation>
			</enumeration>
			<enumeration value="13">
				<annotation>
					<documentation>Adhésion prévoyance</documentation>
				</annotation>
			</enumeration>
			<enumeration value="14">
				<annotation>
					<documentation>Affiliation prévoyance</documentation>
				</annotation>
			</enumeration>
			<enumeration value="15">
				<annotation>
					<documentation>Base individu non salarié</documentation>
				</annotation>
			</enumeration>
			<enumeration value="16">
				<annotation>
					<documentation>Bordereau</documentation>
				</annotation>
			</enumeration>
			<enumeration value="17">
				<annotation>
					<documentation>Cotisation agrégée</documentation>
				</annotation>
			</enumeration>
			<enumeration value="18">
				<annotation>
					<documentation>Ancienneté</documentation>
				</annotation>
			</enumeration>
			<enumeration value="19">
				<annotation>
					<documentation>Lieu de travail</documentation>
				</annotation>
			</enumeration>
			<enumeration value="20">
				<annotation>
					<documentation>Ayant-droit</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="RO_B004_R006_enum">
		<union memberTypes="gipmds:RO_B007_R009_enum">
			<simpleType>
				<restriction base="string">
					<enumeration value="07">
						<annotation>
							<documentation>Ensemble des données attendues par l'organisme pour un mois principal déclaré absentes</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>
		</union>
	</simpleType>
	
	<simpleType name="RO_B004_R007_enum">
		<annotation>
			<documentation>Type de périmètre de l'erreur pour déterminer si elle concerne un ou plusieurs objets</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Erreur généralisée</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>Erreur sur plusieurs individus ou plusieurs contrats</documentation>
				</annotation>
			</enumeration>
			<enumeration value="03">
				<annotation>
					<documentation>Erreur sur un seul individu ou un seul contrat</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="RO_B004_R008_enum">
		<annotation>
			<documentation>Cette rubrique permet de préciser si tous les objets d'actions sont référencés dans le retour organisme ou bien si seules les caractéristiques des objets sont décrites</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Individus et/ou contrats nominativement précisés</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>Individus et/ou contrats concernés non précisés</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="RO_B007_R004_enum">
		<annotation>
			<documentation>Nature du montant</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Montant cumulé</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="RO_B007_R009_enum">
		<annotation>
			<documentation>Type d'erreur constaté sur le contrôle</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="01">
				<annotation>
					<documentation>Valeur incohérente</documentation>
				</annotation>
			</enumeration>
			<enumeration value="02">
				<annotation>
					<documentation>Rubrique absente</documentation>
				</annotation>
			</enumeration>
			<enumeration value="03">
				<annotation>
					<documentation>Rubrique présente à tort</documentation>
				</annotation>
			</enumeration>
			<enumeration value="04">
				<annotation>
					<documentation>Bloc absent</documentation>
				</annotation>
			</enumeration>
			<enumeration value="05">
				<annotation>
					<documentation>Bloc présent à tort</documentation>
				</annotation>
			</enumeration>
			<enumeration value="06">
				<annotation>
					<documentation>Cumul incohérent</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
</schema>