ROOT_BPIJ_V02_03.xsd

<?xml version="1.0" encoding="utf-8"?><!-- Schema generated by Camelia uml2xml tool --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:BPIJ="www.cnamts.fr/tlsemp/IJ" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="www.cnamts.fr/tlsemp/IJ">

<xsd:annotation>
	<xsd:appinfo>
		<Build xmlns="urn:camelia:info" Generation="8" Host="P107501S245882S" Location="D:/Data_Pro/Camelia_Travail" Model="BPIJ" Project="BPIJ" Repository="Y:\" Root="true" Time="20201104_085928"/>
	<Package xmlns="urn:camelia:info" Status="Approved" Timestamp="20201104_171633" Version="02.03"/></xsd:appinfo>
</xsd:annotation>

<!-- MAIN INSTANCES GLOBAL ELEMENTS -->

<xsd:element name="BPIJ" type="BPIJ:BPIJ_DonneesDeService_Commun_Agregats_BPIJ"/>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_DonneesDeService_Commun_Simples_CodeEntete">
	<xsd:simpleContent>
		<xsd:extension base="xsd:string">
			<xsd:attribute name="A" type="xsd:string"/>
			<xsd:attribute name="L" type="xsd:string"/>
			<xsd:attribute name="V" type="xsd:string"/>
			<xsd:attribute name="Q" type="xsd:string"/>
			<xsd:attribute name="Code" type="xsd:string"/>
			<xsd:attribute name="R" type="xsd:string"/>
		</xsd:extension>
	</xsd:simpleContent>
</xsd:complexType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:simpleType name="BPIJ_TLSEMP_Commun_Simples_Code">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Simples_CodeDeclarant">
	<xsd:simpleContent>
		<xsd:extension base="xsd:string">
			<xsd:attribute name="R" type="xsd:string" use="required"/>
		</xsd:extension>
	</xsd:simpleContent>
</xsd:complexType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Simples_CodeDeclare">
	<xsd:simpleContent>
		<xsd:extension base="xsd:string">
			<xsd:attribute name="R" type="xsd:string" use="required"/>
		</xsd:extension>
	</xsd:simpleContent>
</xsd:complexType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:simpleType name="BPIJ_TLSEMP_Commun_Simples_Identite">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<!-- CURRENT BRANCH NODE TYPE -->

<xsd:simpleType name="BPIJ_TLSEMP_Commun_Simples_Caisse">
	<xsd:restriction base="BPIJ:PATTERN0_BPIJ_TLSEMP_Commun_Simples_Caisse"/>
</xsd:simpleType>

<!-- CURRENT TYPE PATTERN STACK -->

<xsd:simpleType name="PATTERN0_BPIJ_TLSEMP_Commun_Simples_Caisse">
	<xsd:restriction base="BPIJ:BPIJ_TLSEMP_Commun_Simples_Identite">
		<xsd:pattern value="[0-9]{3}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- CURRENT BRANCH NODE TYPE -->

<xsd:simpleType name="BPIJ_TLSEMP_Commun_Simples_NIR">
	<xsd:restriction base="BPIJ:PATTERN0_BPIJ_TLSEMP_Commun_Simples_NIR"/>
</xsd:simpleType>

<!-- CURRENT TYPE PATTERN STACK -->

<xsd:simpleType name="PATTERN0_BPIJ_TLSEMP_Commun_Simples_NIR">
	<xsd:restriction base="BPIJ:BPIJ_TLSEMP_Commun_Simples_Identite">
		<xsd:pattern value="\d{6}[A-Za-z0-9]{1}((\d{6})|(\d{8}))"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:simpleType name="BPIJ_TLSEMP_Commun_Simples_LigneAFNOR">
	<xsd:restriction base="BPIJ:PATTERN0_BPIJ_TLSEMP_Commun_Simples_LigneAFNOR"/>
</xsd:simpleType>

<!-- CURRENT TYPE PATTERN STACK -->

<xsd:simpleType name="PATTERN0_BPIJ_TLSEMP_Commun_Simples_LigneAFNOR">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value=".{0,38}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:simpleType name="BPIJ_TLSEMP_Commun_Simples_Litteral">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Simples_LitteralQualifie">
	<xsd:simpleContent>
		<xsd:extension base="xsd:string">
			<xsd:attribute name="Q" type="xsd:string"/>
		</xsd:extension>
	</xsd:simpleContent>
</xsd:complexType>

<!-- PARTIAL BRANCH <<SIMPLE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:simpleType name="BPIJ_TLSEMP_Commun_Simples_Montant">
	<xsd:restriction base="xsd:decimal"/>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_DonneesDeService_Commun_Agregats_BPIJ">
	<xsd:sequence>
		<xsd:element name="Identification" type="xsd:string"/>
		<xsd:element name="Temps" type="xsd:dateTime"/>
		<xsd:element minOccurs="0" name="Fonction" type="BPIJ:BPIJ_DonneesDeService_Commun_Simples_CodeEntete"/>
		<xsd:element minOccurs="0" name="Info" type="BPIJ:BPIJ_DonneesDeService_Commun_Simples_CodeEntete"/>
		<xsd:element minOccurs="0" name="Cumul" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Paiement"/>
		<xsd:element name="Declarant" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Mandataire"/>
	</xsd:sequence>
	<xsd:attribute name="Nature" type="BPIJ:PATTERN0_BPIJ_DonneesDeService_Commun_Agregats_BPIJ_Nature" use="required"/>
	<xsd:attribute name="Version" type="xsd:string" use="required"/>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_BPIJ_DonneesDeService_Commun_Agregats_BPIJ_Nature">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="BPIJ"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_AdresseGeoPostale">
	<xsd:sequence>
		<xsd:element minOccurs="0" name="Complement" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_LigneAFNOR"/>
		<xsd:element minOccurs="0" name="NumeroVoie" type="xsd:string"/>
		<xsd:element minOccurs="0" name="NomVoie" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_LigneAFNOR"/>
		<xsd:element name="CodePostal" type="BPIJ:PATTERN0_BPIJ_TLSEMP_Commun_Agregats_AdresseGeoPostale_CodePostal"/>
		<xsd:element name="Localite" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_LigneAFNOR"/>
	</xsd:sequence>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_BPIJ_TLSEMP_Commun_Agregats_AdresseGeoPostale_CodePostal">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value=".{0,5}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_AdresseGeoPostaleEmployeur">
	<xsd:sequence>
		<xsd:element minOccurs="0" name="Complement" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_LigneAFNOR"/>
		<xsd:element minOccurs="0" name="NumeroVoie" type="xsd:string"/>
		<xsd:element minOccurs="0" name="NomVoie" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_LigneAFNOR"/>
		<xsd:element name="CodePostal" type="BPIJ:PATTERN0_BPIJ_TLSEMP_Commun_Agregats_AdresseGeoPostaleEmployeur_CodePostal"/>
		<xsd:element minOccurs="0" name="Localite" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_LigneAFNOR"/>
	</xsd:sequence>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_BPIJ_TLSEMP_Commun_Agregats_AdresseGeoPostaleEmployeur_CodePostal">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value=".{0,5}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_Assurance">
	<xsd:sequence>
		<xsd:element name="CodeNature" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Code"/>
		<xsd:element minOccurs="0" name="Cumul" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Paiement"/>
		<xsd:element maxOccurs="unbounded" name="Prestation" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Prestation"/>
	</xsd:sequence>
</xsd:complexType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_Assure">
	<xsd:sequence>
		<xsd:element name="NIR" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_NIR"/>
		<xsd:element name="Nom" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Litteral"/>
		<xsd:element name="Prenom" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Litteral"/>
		<xsd:element minOccurs="0" name="Info" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Litteral"/>
		<xsd:element minOccurs="0" name="Domiciliation" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_ReleveIdentiteBancaire"/>
		<xsd:element minOccurs="0" name="Cumul" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Paiement"/>
		<xsd:element maxOccurs="unbounded" name="Assurance" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Assurance"/>
		<xsd:element maxOccurs="unbounded" minOccurs="0" name="Indu" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_RegularisationPrestation"/>
		<xsd:element maxOccurs="unbounded" minOccurs="0" name="Rappel" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_RegularisationPrestation"/>
	</xsd:sequence>
</xsd:complexType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_Certificat">
	<xsd:sequence>
		<xsd:element name="Type" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Code"/>
		<xsd:element name="DateDeb" type="xsd:date"/>
		<xsd:element name="DateFin" type="xsd:date"/>
	</xsd:sequence>
</xsd:complexType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_Employeur">
	<xsd:sequence>
		<xsd:element name="Identite" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_CodeDeclare"/>
		<xsd:element minOccurs="0" name="RaisonSociale" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Litteral"/>
		<xsd:element minOccurs="0" name="Adresse" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_AdresseGeoPostaleEmployeur"/>
		<xsd:element minOccurs="0" name="Domiciliation" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_ReleveIdentiteBancaire"/>
		<xsd:element minOccurs="0" name="Cumul" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Paiement"/>
		<xsd:element maxOccurs="unbounded" minOccurs="0" name="Caisse" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_OrganismeEmetteur"/>
	</xsd:sequence>
</xsd:complexType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_Mandataire">
	<xsd:sequence>
		<xsd:element name="Identite" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_CodeDeclarant"/>
		<xsd:element minOccurs="0" name="RaisonSociale" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Litteral"/>
		<xsd:element minOccurs="0" name="Adresse" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_AdresseGeoPostale"/>
		<xsd:element minOccurs="0" name="Domiciliation" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_ReleveIdentiteBancaire"/>
		<xsd:element minOccurs="0" name="Cumul" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Paiement"/>
		<xsd:element maxOccurs="unbounded" name="Declare" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Employeur"/>
	</xsd:sequence>
</xsd:complexType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_OrganismeEmetteur">
	<xsd:sequence>
		<xsd:element name="CodeCPAM" type="BPIJ:PATTERN0_BPIJ_TLSEMP_Commun_Agregats_OrganismeEmetteur_CodeCPAM"/>
		<xsd:element minOccurs="0" name="Libelle" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Litteral"/>
		<xsd:element name="JComptable" type="xsd:date"/>
		<xsd:element minOccurs="0" name="Cumul" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Paiement"/>
		<xsd:element maxOccurs="unbounded" minOccurs="0" name="Assure" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Assure"/>
	</xsd:sequence>
</xsd:complexType>

<!-- CURRENT PROPERTY PATTERN STACK -->

<xsd:simpleType name="PATTERN0_BPIJ_TLSEMP_Commun_Agregats_OrganismeEmetteur_CodeCPAM">
	<xsd:restriction base="BPIJ:BPIJ_TLSEMP_Commun_Simples_Caisse">
		<xsd:pattern value="[0-9]{3}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_Paiement">
	<xsd:sequence>
		<xsd:element minOccurs="0" name="Libelle" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Litteral"/>
		<xsd:element name="Montant" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Montant"/>
	</xsd:sequence>
</xsd:complexType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_Prestation">
	<xsd:sequence>
		<xsd:element name="CodeNature" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Code"/>
		<xsd:element minOccurs="0" name="Reference" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_LitteralQualifie"/>
		<xsd:element name="Libelle" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Litteral"/>
		<xsd:element name="DateDebPrest" type="xsd:date"/>
		<xsd:element minOccurs="0" name="DateFinPrest" type="xsd:date"/>
		<xsd:element minOccurs="0" name="NumSin" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Code"/>
		<xsd:element minOccurs="0" name="DateSin" type="xsd:date"/>
		<xsd:element minOccurs="0" name="DateDebConge" type="xsd:date"/>
		<xsd:element minOccurs="0" name="DateFinConge" type="xsd:date"/>
		<xsd:element minOccurs="0" name="NbIJ" type="xsd:decimal"/>
		<xsd:element minOccurs="0" name="IJSub" type="xsd:boolean"/>
		<xsd:element minOccurs="0" name="PU" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Montant"/>
		<xsd:element minOccurs="0" name="Montant" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Montant"/>
		<xsd:element minOccurs="0" name="Certificat" type="BPIJ:BPIJ_TLSEMP_Commun_Agregats_Certificat"/>
	</xsd:sequence>
</xsd:complexType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_RegularisationPrestation">
	<xsd:sequence>
		<xsd:element name="Numero" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Code"/>
		<xsd:element name="Montant" type="BPIJ:BPIJ_TLSEMP_Commun_Simples_Montant"/>
	</xsd:sequence>
</xsd:complexType>

<!-- PARTIAL BRANCH <<AGREGATE>> -->

<!-- CURRENT BRANCH TOP TYPE -->

<xsd:complexType name="BPIJ_TLSEMP_Commun_Agregats_ReleveIdentiteBancaire">
	<xsd:sequence>
		<xsd:element minOccurs="0" name="IBAN" type="xsd:string"/>
		<xsd:element minOccurs="0" name="BIC" type="xsd:string"/>
		<xsd:element minOccurs="0" name="Guichet" type="xsd:string"/>
		<xsd:element minOccurs="0" name="Compte" type="xsd:string"/>
		<xsd:element minOccurs="0" name="CleRIB" type="xsd:string"/>
	</xsd:sequence>
</xsd:complexType>


<!-- END OF SCHEMA -->

</xsd:schema>